@page "/WeaponTable"
@using Chummer_Database.Extensions
@using Blazorise.Extensions
@inject HttpClient Client
@inject ILogger<WeaponTable> Logger

<div class="mt-2 d-flex align-content-center justify-content-center">
    <h1 class="text-decoration-underline">WeaponTable Test</h1>
</div>
<Div class="d-flex">
    <div class="">
        <div>
            <Div class="w-100">
                @*Weapon Accessory Filter*@
                <TextEdit
                    @bind-Text="_accessoryFilter"
                    Immediate="false"
                    Placeholder="Accessory Name"></TextEdit>

                @*Weapon Skill Filter*@
                <TextEdit
                    @bind-Text="_skillFilter"
                    Immediate="false"
                    Placeholder="Skill Name"></TextEdit>

                @*Weapon name Filter *@
                <TextEdit
                    @bind-Text="@_nameFilter"
                    Immediate="false"
                    Placeholder="Weapon Name"></TextEdit>
            </Div>
            
            
            @*Weapon Cost Filter*@
            <div class="w-100">
                <NumRangeSelector
                    Step="1000"
                    CurrencySymbol="¥"
                    @bind-Value="_costRange"
                    Legend="Cost"/>

                @*Weapon Availability Filter*@
                <NumRangeSelector
                    Step="1"
                    @bind-Value="_availRange"
                    Legend="Availability"/>

                @*Weapon Damage Filter*@
                <NumRangeSelector
                    MinValue="-5"
                    Step="1"
                    @bind-Value="_damageRange"
                    Legend="Damage"/>
                
                @*Weapon Conceal Filter*@
                <NumRangeSelector
                    MinValue="int.MinValue"
                    Step="1"
                    @bind-Value="_concealRange"
                    Legend="Concealment"/>
                
                @*Weapon Reach Filter*@
                <NumRangeSelector
                    MinValue="-5"
                    Step="1"
                    @bind-Value="_reachRange"
                    Legend="Reach"/>
                
                @*Weapon Ammo Capacity Filter*@
                <NumRangeSelector
                    Step="1"
                    @bind-Value="_ammoRange"
                    Legend="Ammo Capacity"/>
                </div>


            <div class="w-100">
                @*Anmo Category Filter*@
                <MultListSelect
                    Label="Ammo Category"
                    TItem="string"
                    TValue="string"
                    Items="Ammo.AllAmmoCategories"
                    @bind-SelectedItems="_selectedAmmoCategories">
                </MultListSelect>


                @*Selector for WeaponCategory Filtering*@
                <MultListSelect
                    Label="Weapon Category"
                    TItem="Category"
                    TValue="string"
                    Items="WeaponCategories"
                    @bind-SelectedItems="_selectedCategories">
                </MultListSelect>


                @*Legality*@
                <label>
                    Legality
                    <Select TValue="Legality" SelectedValuesChanged="@OnSelectedLegalitiesChanged"Multiple>
                        <Repeater Items="_legalities">
                            <SelectItem TValue="Legality" Value="context">@context</SelectItem>
                        </Repeater>
                    </Select>
                </label>

                @*Source Book*@
                <MultListSelect
                    Label="Source Book"
                    TItem="Book"
                    TValue="string"
                    Items="Books"
                    @bind-SelectedItems="_selectedBooks">
                </MultListSelect>
            </div>
        </div>
        <div>
            <DataGrid TItem="Weapon"
                      Data="Weapons"
                      @bind-SelectedRow="@SelectedWeapon"
                      @ref="@_dataGridRef"

                      SortMode="DataGridSortMode.Single"
                      Hoverable="true"
                      HeaderThemeContrast="ThemeContrast.Dark"
                  
                      ShowPager="true"
                      @bind-PageSize="_pageSize"
                      PageSizes="@(new []{5,10, 20, 50})"
                      PagerPosition="DataGridPagerPosition.Top"
                      PageChanged="@(_ => _dataGridRef?.ScrollToRow(1).AsTask() ?? throw new InvalidOperationException())"
                      ShowPageSizes="true"
                  
                      FixedHeader="true"
                  
                      Filterable="false"
                      CustomFilter="@(weapon => OnCustomFilter(weapon))"
                      FilterMethod="DataGridFilterMethod.Contains"
            >
                <DataGridColumns>
                    <DataGridColumn 
                        TItem="Weapon" 
                        Field="@nameof(Weapon.Name)" 
                        Caption="Name" 
                        SortDirection="SortDirection.Ascending"
                        Filterable="false"/>
                    <DataGridNumericColumn 
                        TItem="Weapon" 
                        Field="@nameof(Weapon.Accuracy)" 
                        Caption="ACC"
                        Filterable="false"/>
                    <DataGridColumn 
                        TItem="Weapon"
                        Field="Damage.DisplayString" 
                        Caption="DAMAGE"
                        SortField="Damage.DamageAmount"
                        Filterable="false"/>
                    <DataGridNumericColumn 
                        TItem="Weapon" 
                        Field="@nameof(Weapon.Ap)"
                        Caption="AP"
                        Filterable="false"/>
                    <DataGridColumn 
                        TItem="Weapon" 
                        Field="@nameof(Weapon.FiringMode)" 
                        Caption="Mode"
                        Filterable="false"/>
                    <DataGridNumericColumn 
                        TItem="Weapon" 
                        Field="@nameof(Weapon.RecoilCompensation)" 
                        Caption="RC"
                        Filterable="false"/>
                    <DataGridNumericColumn 
                        TItem="Weapon" 
                        Field="Ammo.DisplayString" 
                        SortField="Ammo.MagazineSize" Caption="Ammo"
                        Filterable="false"/>
                    <DataGridNumericColumn 
                        TItem="Weapon" 
                        Field="Availability.AvailabilityString" 
                        SortField="Availability.AvailabilityInt" 
                        Caption="Avail"
                        Filterable="false"/>
                    <DataGridNumericColumn
                        TItem="Weapon" Field="@nameof(Weapon.Cost)" 
                        SortField="@nameof(Weapon.Cost)" 
                        Caption="Cost"
                        CellClass="@(item => item.CostCss)"
                        Filterable="false"/>
                    <DataGridColumn 
                        TItem="Weapon" 
                        Field="@nameof(Weapon.Source)"
                        Caption="Source"
                        Filterable="false"/>
                    @{
                        if (_selectedCategories.IsNullOrEmpty() || _selectedCategories?.Count > 1 || _selectedCategories?.First() == "All")
                        {
                            <DataGridColumn 
                                TItem="Weapon" 
                                Field="Category.Name" 
                                Caption="Category"
                                Filterable="false"/>
                        }
                    }
                </DataGridColumns>
            </DataGrid>
        </div>
    </div>
</Div>



