<fieldset>
    <legend class="float-none w-auto" >@Legend</legend>
    @*Min Value*@
    <label><span>Min</span>
        <NumericPicker
            Class="numeric-picker"
            TValue="int"
            CurrencySymbol="@CurrencySymbol"
            Step="@Step"
            Min="MinValue"
            Decimals="0"
            SelectAllOnFocus
            ValueChanged="OnMinChanged"/>
    </label>

    @*Max Value*@
    <label><span>Max</span>
    <NumericPicker
        Class="numeric-picker"
        TValue="int"
        CurrencySymbol="@CurrencySymbol"
        Step="@Step"
        Min="MinValue"
        Decimals="0"
        SelectAllOnFocus
        ValueChanged="OnMaxChanged"/>
    </label>
</fieldset>


@code {
    [Parameter]
    public int MinValue { get; set; } = 0;
    
    [Parameter]
    public int MaxValue { get; set; } = int.MaxValue;
    
    [Parameter]
    public int Step { get; set; } = 1;

    [Parameter]
    public string? CurrencySymbol { get; set; }
    
    [Parameter]  
    public EventCallback<NumericRange> ValueChanged { get; set; }

    [Parameter]
    public NumericRange Value { get; set; } = new();

    [Parameter]
    public string Legend { get; set; } = string.Empty;

    private async Task OnMinChanged(int value)
    {
        Value.Minimum = value;

        await ValueChanged.InvokeAsync(Value);
    }
    
    private async Task OnMaxChanged(int value)
    {
        Value.Maximum = value;
        
        await ValueChanged.InvokeAsync(Value);
    }
}